 @import "./variables.scss";

 @mixin neomorphismEffect() {
   border-radius: $border-radius;
   box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.86), -4px -4px 22px rgb(255 255 255 / 10%);
   border: 1px solid rgb(0 0 0 / 16%);
 }

 @function getMaxWidth($max) {
   @return $max - 1px;
 }

 @mixin mediaMin($min) {
   @media (min-width: $min) {
     @content;
   }
 }

 @mixin mediaMax($max) {
   @media (max-width: getMaxWidth($max)) {
     @content;
   }
 }

 @mixin mediaMinMax($min, $max) {
   @media (min-width: $min) and (max-width: getMaxWidth($max)) {
     @content;
   }
 }