$bg-color: #1D1E22;
$primary-color: #b18c1b;
$secondary-color: #4B87B9;
$thirdiary-color: #8F6BBB;
$border-radius: 20px;
$neo-border-color: #ffffff12;
$error-color: #ff7474;
$text-color: #d1d1d1;

$xs: 0;
$sm: 650px;
$md: 850px;
$lg: 1150px;
$xl: 1350px;
$xxl: 1450px;