@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.App {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    margin: 3rem 0;
    color: $primary-color;
    font-size: clamp(24px, 3vw, 32px);

    @include mediaMax($sm) {
      text-align: center;
    }
  }

  .app-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;

    @include mediaMax($md) {
      grid-template-columns: 1fr 1fr;
    }

    @include mediaMax($sm) {
      grid-template-columns: 1fr;
    }
  }
}