@import "../../../styles/variables.scss";

label {
  color: $primary-color;
  font-weight: 600;
}

input {
  border-radius: 60px;
  padding: 8px 12px;
  background-color: transparent;
  border-color: #5d5d5d82;
  color: #F0F8FF;
  font-size: 1rem;

  &:focus-visible {
    outline: 1px solid $primary-color;

  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}